/* Reset Style */
body {
background:#f5f5f5;
}
a, a:hover, a:focus, a:visited {
outline:none;
}
ul {
list-style:none;
padding:0;
margin:0;
}
h1,h2,h3,h4,h5 {
margin:0;
}

/* Reset Bootstrap */
.navbar-collapse {
margin:0 !important;
padding:0 !important;
}
.nav li a {
font-family: 'Titillium Web', Arial;
font-weight:400;
}

/* HomePage Sections */
.section-box {
background:#fff;
border:1px solid #e5e5e5;
border-radius:4px;
margin-bottom:20px;
}
.section-box h4{
margin:0;
padding:10px;
border-bottom:1px solid #eee;
font-family: 'Titillium Web', Arial;
font-weight:700;
font-size:22px;
}
.first-section-news {
padding:10px;
}
.first-section-news a{
font-family: 'Titillium Web', Arial;
font-weight:700;
font-size:16px;
}
.first-section-news p{
font-family: 'Titillium Web', Arial;
font-weight:400;
font-size:15px;
}
.rest-section-news {
padding:10px;
border-top:1px solid #eee;
}
.rest-section-news a {
font-family: 'Titillium Web', Arial;
font-weight:700;
font-size:16px;
}

/* Top News Widget */
.top-hits-news {
background:#fff;
border:1px solid #e5e5e5;
}
.top-hits-news h4{
margin:0;
padding:10px;
border-bottom:1px solid #eee;
font-family: 'Titillium Web', Arial;
font-weight:700;
font-size:22px;
color:#666;
}
.top-hits-news li{
border-top:1px solid #eee;
padding:15px 0;
overflow:hidden;
}
.top-hits-news li:first-child{
border-top:none;
}
.top-hits-news li a{
font-family: 'Titillium Web', Arial;
font-weight:400;
font-size:14px;
}


/* Category & Source Page */
.category-page {
background:#fff;
border:1px solid #e5e5e5;
border-radius:4px;
margin-bottom:20px;
}
.category-page h1{
margin:0;
padding:10px;
border-bottom:1px solid #eee;
font-family: 'Titillium Web', Arial;
font-weight:700;
font-size:22px;
overflow:hidden;
color:#555;
}
.category-news li {
border-top:1px solid #eee;
}
.category-news li:first-child {
border-top:none;
}

/* Links Widget */
.links {
background:#fff;
border:1px solid #e5e5e5;
}
.links h4{
margin:0;
padding:10px;
border-bottom:1px solid #eee;
font-family: 'Titillium Web', Arial;
font-weight:700;
font-size:22px;
overflow:hidden;
color:#555;
}
.links li {
border-top:1px solid #f5f5f5;
}
.links li:first-child {
border-top:none;
}
.links li a{
display:block;
font-family: 'Titillium Web', Arial;
font-weight:400;
font-size:14px;
color:#888;
padding:10px;
text-decoration:none;
}
.links li a i{
color:#ddd;
padding-right:5px;
}
.links li a:hover{
color:#555;
background:#f5f5f5;
text-decoration:none;
}
.links li a:hover i{
color:#999;
}

/* Single Article Page */
.article-page {
background:#fff;
border:1px solid #e5e5e5;
border-radius:4px;
margin-bottom:20px;
}
.article-page h1{
margin:0;
padding:10px;
border-bottom:1px solid #eee;
font-family: 'Titillium Web', Arial;
font-weight:700;
font-size:22px;
overflow:hidden;
color:#555;
}
.article-content {
overflow:hidden;
padding:15px;
}
.article-image {
margin:10px;
}
.article-content img{
max-width:100%;
}
.single-article {
padding:10px !important;
border-bottom:1px solid #eee;
}
.read-more {
margin-bottom:20px;
}
.read-more a {
font-family: 'Titillium Web', Arial;
font-weight:400;
font-size:16px;
}

/* Related News Widget */
.related-news {
background:#fff;
border:1px solid #e5e5e5;
border-radius:4px;
margin-bottom:20px;
}
.related-news h4{
margin:0;
padding:10px;
border-bottom:1px solid #eee;
font-family: 'Titillium Web', Arial;
font-weight:700;
font-size:22px;
overflow:hidden;
color:#555;
}
.related-news ul li{
height:60px;
margin:10px 0;
overflow:hidden;
}
.related-news ul li a{
font-family: 'Titillium Web', Arial;
font-weight:400;
font-size:14px;
}

/* MISC CSS codes */
.max-width {
min-width:100%;
}
.article-meta {
padding:5px 0;
}
.article-meta span{
display:inline-block;
margin-right:10px;
font-family: 'Titillium Web', Arial;
font-weight:400;
font-size:13px;
color:#888;
}
.article-meta span i{
padding-right:5px;
color:#ccc;
}
.article-meta span a{
color:#888;
font-family: 'Titillium Web', Arial;
font-weight:400;
font-size:13px;
}
.widget {
margin-bottom:20px;
border-radius:4px;
}
.pagi {
border-top:2px solid #eee;
padding:0 10px 0 20px;
}
.not-found h1{
font-family: 'Titillium Web', Arial;
font-weight:700;
font-size:22px;
color:#555;
margin-bottom:10px;
}
.not-found p{
font-family: 'Titillium Web', Arial;
font-weight:400;
font-size:16px;
color:#999;
margin-bottom:10px;
}
.not-found {
margin:30px 0;
}
.content-ad {
margin-bottom:20px;
}
.clear {
clear:both;
}
.header {
margin:15px 0;
}
.footer {
margin:20px 0;
padding:10px 0;
border-top:1px solid #ddd;
font-family: 'Titillium Web', Arial;
font-weight:400;
}
.install {
background:#fff;
border:1px solid #e5e5e5;
padding:10px;
margin-bottom:10px;
}
.install h4{
margin:0;
padding:0 10px 10px 10px;
border-bottom:1px solid #eee;
font-family: 'Titillium Web', Arial;
font-weight:700;
font-size:22px;
color:#666;
margin-bottom:10px;
}
.install-content {
padding:15px;
}
.install-content ul{
list-style:square;
}
.install-content ul li{
line-height:24px;
}
.install-content ul li i{
color:#ccc;
margin-right:5px;
}
.install-content ul li ul{
margin-left:20px;
list-style:none;
}
/* Additional CSS for Tab View */
@media only screen and (max-width: 992px) {
.logo {
text-align:center !important;
}
.logo a img{
margin:0 auto 10px auto !important;
}		
}
/* Additional CSS for Mobile View */
@media only screen and (max-width: 770px) {	
.logo {
text-align:center !important;
}
.logo a img{
margin:0 auto 10px auto !important;
}
.copyrights, .powered-by {
text-align:center;
margin-bottom:10px;
}
}
/*Social Media*/
@import url("//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");


.btn-social{position:relative;padding-left:88px;text-align:left;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}.btn-social :first-child{position:absolute;left:0;top:0;bottom:0;width:64px;line-height:68px;font-size:1.6em;text-align:center;border-right:1px solid rgba(0,0,0,0.2)}
.btn-social.btn-xs{padding-left:30px}.btn-social.btn-xs :first-child{line-height:40px;width:40px;font-size:1.2em}
.btn-social-icon{position:relative;padding-left:88px;text-align:left;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;height:34px;width:34px;padding:0}.btn-social-icon :first-child{position:absolute;left:0;top:0;bottom:0;width:64px;line-height:68px;font-size:1.6em;text-align:center;border-right:1px solid rgba(0,0,0,0.2)}
.btn-social-icon.btn-xs{padding-left:30px}.btn-social-icon.btn-xs :first-child{line-height:40px;width:40px;font-size:1.2em}
.btn-social-icon :first-child{border:none;text-align:center;width:100% !important}
.btn-social-icon.btn-xs{height:44px;width:44px;padding-left:0;padding-right:0}
.btn-facebook{color:#fff;background-color:#3b5998;border-color:rgba(0,0,0,0.2)}.btn-facebook:hover,.btn-facebook:focus,.btn-facebook:active,.btn-facebook.active,.open .dropdown-toggle.btn-facebook{color:#fff;background-color:#30487b;border-color:rgba(0,0,0,0.2)}
.btn-facebook:active,.btn-facebook.active,.open .dropdown-toggle.btn-facebook{background-image:none}
.btn-facebook.disabled,.btn-facebook[disabled],fieldset[disabled] .btn-facebook,.btn-facebook.disabled:hover,.btn-facebook[disabled]:hover,fieldset[disabled] .btn-facebook:hover,.btn-facebook.disabled:focus,.btn-facebook[disabled]:focus,fieldset[disabled] .btn-facebook:focus,.btn-facebook.disabled:active,.btn-facebook[disabled]:active,fieldset[disabled] .btn-facebook:active,.btn-facebook.disabled.active,.btn-facebook[disabled].active,fieldset[disabled] .btn-facebook.active{background-color:#3b5998;border-color:rgba(0,0,0,0.2)}
.btn-flickr{color:#fff;background-color:#ff0084;border-color:rgba(0,0,0,0.2)}.btn-flickr:hover,.btn-flickr:focus,.btn-flickr:active,.btn-flickr.active,.open .dropdown-toggle.btn-flickr{color:#fff;background-color:#d6006f;border-color:rgba(0,0,0,0.2)}
.btn-flickr:active,.btn-flickr.active,.open .dropdown-toggle.btn-flickr{background-image:none}
.btn-flickr.disabled,.btn-flickr[disabled],fieldset[disabled] .btn-flickr,.btn-flickr.disabled:hover,.btn-flickr[disabled]:hover,fieldset[disabled] .btn-flickr:hover,.btn-flickr.disabled:focus,.btn-flickr[disabled]:focus,fieldset[disabled] .btn-flickr:focus,.btn-flickr.disabled:active,.btn-flickr[disabled]:active,fieldset[disabled] .btn-flickr:active,.btn-flickr.disabled.active,.btn-flickr[disabled].active,fieldset[disabled] .btn-flickr.active{background-color:#ff0084;border-color:rgba(0,0,0,0.2)}
.btn-google-plus{color:#fff;background-color:#dd4b39;border-color:rgba(0,0,0,0.2)}.btn-google-plus:hover,.btn-google-plus:focus,.btn-google-plus:active,.btn-google-plus.active,.open .dropdown-toggle.btn-google-plus{color:#fff;background-color:#ca3523;border-color:rgba(0,0,0,0.2)}
.btn-google-plus:active,.btn-google-plus.active,.open .dropdown-toggle.btn-google-plus{background-image:none}
.btn-google-plus.disabled,.btn-google-plus[disabled],fieldset[disabled] .btn-google-plus,.btn-google-plus.disabled:hover,.btn-google-plus[disabled]:hover,fieldset[disabled] .btn-google-plus:hover,.btn-google-plus.disabled:focus,.btn-google-plus[disabled]:focus,fieldset[disabled] .btn-google-plus:focus,.btn-google-plus.disabled:active,.btn-google-plus[disabled]:active,fieldset[disabled] .btn-google-plus:active,.btn-google-plus.disabled.active,.btn-google-plus[disabled].active,fieldset[disabled] .btn-google-plus.active{background-color:#dd4b39;border-color:rgba(0,0,0,0.2)}
.btn-instagram{color:#fff;background-color:#e95950;border-color:rgba(0,0,0,0.2)}.btn-instagram:hover,.btn-instagram:focus,.btn-instagram:active,.btn-instagram.active,.open .dropdown-toggle.btn-instagram{color:#fff;background-color:#e95920;border-color:rgba(0,0,0,0.2)}
.btn-instagram:active,.btn-instagram.active,.open .dropdown-toggle.btn-instagram{background-image:none}
.btn-instagram.disabled,.btn-instagram[disabled],fieldset[disabled] .btn-instagram,.btn-instagram.disabled:hover,.btn-instagram[disabled]:hover,fieldset[disabled] .btn-instagram:hover,.btn-instagram.disabled:focus,.btn-instagram[disabled]:focus,fieldset[disabled] .btn-instagram:focus,.btn-instagram.disabled:active,.btn-twitter[disabled]:active,fieldset[disabled] .btn-instagram:active,.btn-instagram.disabled.active,.btn-instagram[disabled].active,fieldset[disabled] .btn-instagram.active{background-color:#55acee;border-color:rgba(0,0,0,0.2)}
.btn-twitter{color:#fff;background-color:#55acee;border-color:rgba(0,0,0,0.2)}.btn-twitter:hover,.btn-twitter:focus,.btn-twitter:active,.btn-twitter.active,.open .dropdown-toggle.btn-twitter{color:#fff;background-color:#309aea;border-color:rgba(0,0,0,0.2)}
.btn-twitter:active,.btn-twitter.active,.open .dropdown-toggle.btn-twitter{background-image:none}
.btn-twitter.disabled,.btn-twitter[disabled],fieldset[disabled] .btn-twitter,.btn-twitter.disabled:hover,.btn-twitter[disabled]:hover,fieldset[disabled] .btn-twitter:hover,.btn-twitter.disabled:focus,.btn-twitter[disabled]:focus,fieldset[disabled] .btn-twitter:focus,.btn-twitter.disabled:active,.btn-twitter[disabled]:active,fieldset[disabled] .btn-twitter:active,.btn-twitter.disabled.active,.btn-twitter[disabled].active,fieldset[disabled] .btn-twitter.active{background-color:#55acee;border-color:rgba(0,0,0,0.2)}
.btn-rss{color:#fff;background-color:#ff8c00;border-color:rgba(0,0,0,0.2)}.btn-rss:hover,.btn-rss:focus,.btn-rss:active,.btn-rss.active,.open .dropdown-toggle.btn-rss{color:#fff;background-color:#df881f;border-color:rgba(0,0,0,0.2)}
.btn-rss:active,.btn-rss.active,.open .dropdown-toggle.btn-rss{background-image:none}
.btn-rss.disabled,.btn-rss[disabled],fieldset[disabled] .btn-rss,.btn-rss.disabled:hover,.btn-rss[disabled]:hover,fieldset[disabled] .btn-rss:hover,.btn-rss.disabled:focus,.btn-rss[disabled]:focus,fieldset[disabled] .btn-rss:focus,.btn-rss.disabled:active,.btn-rss[disabled]:active,fieldset[disabled] .btn-rss:active,.btn-rss.disabled.active,.btn-rss[disabled].active,fieldset[disabled] .btn-rss.active{background-color:#587ea3;border-color:rgba(0,0,0,0.2)}